body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 80px auto 0;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: #000;
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.container .box:before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  z-index: 1;
}

.container .box:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.container .box:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  z-index: 1;
}

.container .box:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.container .image-box {
  position: relative;
}

.container img {
  width: 500px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .box:hover img {
  opacity: .2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container .content {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.container .content a i {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  padding: 0 5px;
}

.container .content .text {
  margin: 0;
  padding: 0;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
}

.container .content .text span {
  color: #888;
  display: block;
}

.container .box:hover .content a i, .container .box:hover .content .icons, .container .box:hover .content .text {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
/*# sourceMappingURL=main.css.map */